.metadata/
.recommenders/
a2/
AlDaAufgabe1/
AlDaAufgabe2/
AlDaAufgabe3/
Aufg2/
Aufgabe_2/
Aufgabe2/
Aufgabe2e/
Aufgabe4/
Aufgabe5/
Aufgabe6/
Aufgabe7/
Aufgabe8/
Aufgabe9/
Aufgabe10/
Aufgabe11/
Aufgabe12/
htwg.se.sudoku/
MoinSweepur/
Prog1/
progl/
Sounds/
SSounder/
SysProg/
Tests/
Tetrer/
Tetros/